<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664168983442-0ml189f51vhl6kk3d6rsu1k88jpmbk0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664168983442-0ml189f51vhl6kk3d6rsu1k88jpmbk0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAXU0R5eNa4Si80TNnC4Avjdv8A9A9kyMc</string>
	<key>GCM_SENDER_ID</key>
	<string>664168983442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metamask</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-app-2fb95</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-app-2fb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664168983442:ios:27b1a1246da5056cccef4b</string>
</dict>
</plist>